<!-- This html page will be for creating a new inventory entry -->
{% extends "base.html" %}
{% block content %}
<!-- Basic form imported from bootstrap -->
<form method = "POST" action="">
    <!-- Hidden tags adds CSRF token to help with form security -->
    {{ form.hidden_tag() }}
    <!-- This is how forms are setup using flask-wtf -->
    <div class="form-group mb-3">
        {{ form.hosName.label(class="form-label",text="Insert Hospital Name") }}
        <!-- Form validation bootstrap to show errors -->
        {% if form.hosName.errors %}
            {{ form.hosName(class="form-control is-invalid",id="hosName",placeholder="Toronto General") }}
            <div class="invalid-feedback">
                {% for error in form.hosName.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.hosName(class="form-control",id="hosName",placeholder="Toronto General") }}
        {% endif %}
    </div>
    <div class="form-group mb-3">
        {{ form.hosCap.label(class="form-label",text="Insert Capacity") }}
        {% if form.hosCap.errors %}
        {{ form.hosCap(class="form-control is-invalid",id="hosCap",placeholder="100") }}
            <div class="invalid-feedback">
                {% for error in form.hosCap.errors%}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.hosCap(class="form-control",id="hosCap",placeholder="100") }}
        {% endif %}
    </div>
    <div class="form-group">
        {{form.submit(class = "btn btn-primary",type="submit")}}
    </div>
</form>

{% endblock content %}