{% extends 'base.html' %}
{% block content %}
    <h1>Edit Hospital</h1>
    <form method="POST" action="{{ url_for('edit', hospital_id=hospital.id) }}">
        {{ form.hidden_tag() }}
        <input type="hidden" name="hospital_id" value="{{ hospital.id }}">
        <div class="form-group">
            {{ form.hosName.label(class="form-control-label", text="Hospital Name") }}
            {{ form.hosName(class="form-control form-control-lg", placeholder=hospital.name) }}
        </div>
        <br>
        <div class="form-group">
            {{ form.hosCap.label(class="form-control-label", text="Hospital Capacity") }}
            {% if form.hosCap.errors %}
                {{ form.hosCap(class="form-control form-control-lg is-invalid", placeholder=hospital.capacity) }}
                <div class="invalid-feedback">
                    {% for error in form.hosCap.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.hosCap(class="form-control form-control-lg", placeholder=hopsital.capacity) }}
            {% endif %}
        </div>
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary", value="Edit Hospital") }}
        </div>
    </form>
{% endblock %}