{% extends 'base.html' %}
{% block content %}
    <h1>View Records</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for heading in headings%}
                <th>{{ heading }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for query in queries %}
                <tr>
                    {% for i in range(num_fields)%}
                        <td>{{ query[i] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}