{% extends 'base.html' %}
{% block content %}
    <h1>View Records</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Hospital ID</th>
                <th>Hospital Name</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
            {% for hospital in hospitals %}
                <tr>
                    <td>{{ hospital[0] }}</td>
                    <td>{{ hospital[1] }}</td>
                    <td>{{ hospital[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}